*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  //background: linear-gradient(68.15deg, #121616 16.62%, #1b6660 85.61%);
  background-image: url(./assets/bg-desktop2.jpg);
  background-color: #dfe7e9;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 36px;
}

li {
  list-style: none;
  font-family: "Manrope", sans-serif;
}

a {
  color: #424242;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;

  padding: 15px 20px;
  position: relative;
}
/* .logo {
  height: 72px;
} */
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #424242;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  display: flex;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #202020;
  align-items: center;
  transition: 0.5 ease;
}

.nav-item img {
  width: 30px;
  padding-right: 5px;
  align-items: center;
  padding-top: 2px;
}

.hamburguer {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #424242;
  transition: all 0.3 ease-in-out;
}

body {
  background: #dfe7e9;
  font-family: "Manrope", sans-serif;
  color: #27282a;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 200px;
  padding: 32px;
}

@media screen and (min-width: 600px) {
  .content {
    justify-self: center;
    align-self: center;
    width: 500px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  background: #1a1a1a;
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  color: white;
  font-size: 14px;
  padding: 0 15px;
  outline: none;
  transition: border-color 0.2s ease-in;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #e09bf1;
}

.form-group button {
  background-color: #27282a;
  border-radius: 5px;
  border: 0;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}

.form-group:last-child {
  margin-top: 40px;
}

.result-container {
  margin-top: 50px;
}

.result-content {
  margin-top: 10px;
  background: #1a1a1a;
  border-radius: 5px;
  padding: 15px;
}

.result-content ul {
  list-style: none;
}

.result-content ul li {
  font-size: 14px;
  color: #dfe7e9;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  line-height: 30px;
}

.result-content ul li strong {
  color: #39a911;
}
