/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Cabeçalho */
/* header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #424242;
  padding-bottom: 2rem;
}

#search-input {
  background-color: #525356;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #ddd;
  width: 400px;
}

#search::placeholder {
  color: #ddd;
}

#export-notes {
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.4s;
}

#export-notes:hover {
  background-color: #fff;
  color: #333;
}

/* Form de nova nota */
#add-note-container {
  display: flex;
  width: 400px;
  margin: 1rem auto 0;
  gap: 1rem;
}

#add-note-container input,
#add-note-container button {
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
}

#add-note-container input {
  flex: 1;
  background-color: transparent;
  border: 1px solid #525356;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
}

#add-note-container button {
  background-color: #444141;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

/* Notas */
#notes-container {
  margin-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;

  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.note {
  min-height: 200px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #dfe7e9;
  border-radius: 5px;
  color: #fff;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note textarea {
  background-color: transparent;
  resize: none;
  color: #27282a;
  border: none;
  height: 100%;
  outline: none;
}

.note .bi-pin {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #b3bbbe;
  padding: 5px;
  border-radius: 3px;
}

.note:hover > i {
  opacity: 1;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 5px;
  color: #27282a;
  opacity: 0;
  transition: 0.3s;
}

.note .bi-file-earmark-plus {
  top: 40px;
}

.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
  color: #b3bbbe;
}

.note.fixed {
  background-color: #3c3c3f;
}

@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    border-radius: 0 0 20px 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }
  .nav-item {
    margin-top: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .container {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    align-items: column;
    font-size: smaller;
  }
  .container-image {
    display: none;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }

  header::before {
    background-size: 30vw;
    background-repeat: no-repeat;
  }
}

@media (max-width: 870px) {
  header .content {
    padding: 4rem;
  }

  header form {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  #notes-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  #notes-container {
    grid-template-columns: 1fr;
  }

  .card img {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
}
